@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


/* COLOUR PALLETTE
DARK PINK = #E951AC
MID PINK = #E485BD
LIGHT PINK = #FFBAE4

ACCENT BLUE = #9EDDDF

TEXT GREY = #2D2D2D

*/

html {
    height: 100%;
}

body {
    font-family: 'Laila', sans-serif;
    color: #2D2D2D;
}

/* BUTTONS */

.dark-btn {

}

.light-btn {
    border: 2px solid #FFBAE4;
    border-radius: 4px;
    color: #2D2D2D;
    padding: 3px 8px;
    margin: 2px;
    transition: 0.5s;
}

.light-btn:hover{
    background-color: #E951AC;
    border: 2px solid #E951AC;
    color: #FFF;
    text-decoration: none;
}

/* NAVBAR */

nav {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-brand {
    font-family: 'Alice', sans-serif;
}

/* HOME HERO SECTION */

.welcome-container {
    height: 100vh;
    position: relative;
    background: url('../images/wit-hero-banner.webp') no-repeat bottom left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
}

.welcome-text {
    margin-right: 10vw;
    color: #FFF;
}

.welcome-text h1 {
    font-family: 'Alice', sans-serif;
}

/* HOME STATS BOX */

.outer-box {
    background-color: #E951AC;
    border-radius: 15px;
    padding: 15px 0;
    margin: 5px;
    align-items: center;
}

.inner-box {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.inner-box span {
    font-weight: 700;
    font-size: 1.4rem;
}

.box-pink {
    background-color: #FFBAE4;
}

.box-blue {
    background-color: #9EDDDF;
    margin: 15px 0;
}

.image-break {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #FFBAE4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
}

/*  RESOURCE CARD */

.card {
    height: 300px;
    width: 200px;
    border: 4px solid #E951AC;
    border-radius: 8px;
    padding: 3px;
    margin: 0 auto;
}

.card img {
    object-fit: cover;
    width: 180px;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 500;
}