@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500;600&display=swap');

/* COLOUR PALLETTE
DARK PINK = #E951AC
MID PINK = #E485BD
LIGHT PINK = #FFBAE4

ACCENT BLUE = #9EDDDF

TEXT GREY = #2D2D2D

*/

html {
    height: 100%;
}

body {
    font-family: 'Laila', sans-serif;
    color: #2D2D2D;
}

/* BUTTONS */

.light-btn, .light-btn:focus {
    border: 2px solid #FFBAE4;
    border-radius: 4px;
    color: #2D2D2D;
    padding: 3px 8px;
    margin: 2px;
    transition: 0.5s;
    outline: none;
}

.light-btn:hover{
    background-color: #E951AC;
    border: 2px solid #E951AC;
    color: #FFF;
    text-decoration: none;
}

/* NAVBAR */

.home-nav {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pink-nav {
    background-color: #E951AC;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HOME HERO SECTION */

.welcome-container {
    height: 100vh;
    position: relative;
    background: url('../images/wit-hero-banner.webp') no-repeat bottom left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -56px;
    z-index: -1;
}

.welcome-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.welcome-text {
    color: #FFF;
    z-index: 1;
}

/* HOME STATS BOX */

.outer-box {
    background-color: #E951AC;
    border-radius: 15px;
    padding: 15px 0;
    margin: 5px;
    align-items: center;
}

.inner-box {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.inner-box span {
    font-weight: 700;
    font-size: 1.4rem;
}

.box-pink {
    background-color: #FFBAE4;
}

.box-blue {
    background-color: #9EDDDF;
    margin: 15px 0;
}

.image-break {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #FFBAE4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
}

.team-github-links {
    text-align: center;
    margin: 0;
    padding: 0;
}

.team-github-links a {
    text-decoration: none;
    color: black;
}

.team-github-links a:hover {
    text-decoration: underline;
}

footer li {
    display: inline-block;
    padding: 5px;
}

/*  RESOURCE CARD */

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    height: 320px;
    width: 220px;
    border: 4px solid #E951AC;
    border-radius: 8px;
    padding: 8px;
    margin: 0 auto;
}

.card img {
    object-fit: cover;
    height: 80px;
    width: 120px;
    margin: 0 auto;
}

#haven {
    height: 100px;
}

#arc, #maggies {
    width: 180px;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

/* MAP */
#map-container {
    display: flex;
    margin: 20px auto;
    text-align: center;
}

#map {
    height: 600px;
    width:  80%;
    margin: 0 auto;
}


/* CAROUSEL */

.carousel-background {
    background-color: #FFBAE4;
    box-shadow:
        0 0 7px #FFBAE4,
        0 0 10px #FFBAE4,
        0 0 15px #FFBAE4;
}

.carousel-item {
    background-color: #FFF;
    border: 4px solid #E951AC;
    border-radius: 10px;
    padding: 20px;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

.carousel-indicators {
    bottom: -45px;
}

/* SURVIVOR STORY IMAGE */

.survivor-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.story-hr {
    position: relative;
    border-top: 5px solid #FFBAE4;
    width: 60%;
    bottom: 35px;
    z-index: -1;
}

/* SYMPTOMS PAGE */

#symptoms-title {
    text-align: center;
    margin: 20px;
}

#symptoms-table {
    display: table !important;
    border-collapse: separate;
    height: 600px;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    border: 4px solid #E951AC;
    background-color:  #fdeef7;    
}

#symptoms-table .darker {
    background-color:  #FFBAE4;
}

#symptoms-table td {
    padding: 10px;
    text-align: center;
    font-size: large;
}

.signs {
    position: relative;
    cursor: pointer;
}

.signs .tooltiptext {
    display: none;
    width: 360px;
    background-color: #E951AC;
    color: white;
    border-radius: 10px;
    padding: 5px;  
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
}
  
  .signs:hover .tooltiptext {
    display: block !important;
}

#symptoms-img {
    text-align: center;
}

#self-exam {
    max-width: 800px;
    margin: 20px auto;
}

#dyk {
    width: 80%;
    margin: 30px auto 0px;
    text-align: center;
}

#dyk p {
    font-size: large;
}


/* MEDIA QUERIES FOR SYMPTOMS AND RESOURCES PAGES */

@media screen and (max-width: 600px) {
    #self-exam {
        max-width: 350px;
        margin: 20px auto;
    }

    #symptoms-table {
        width: 90%;
    }

    .signs .tooltiptext {
        width: 200px;
    }

    #map {
        height: 250px;
        margin: 0 auto;
    }
}

/* GENERAL MEDIA QUERIES */

@media screen and (min-width: 576px) {
    .survivor-img {
        height: 300px;
        width: 300px;
    }
 }

@media screen and (min-width: 768px) {
    .welcome-container {
        justify-content: end;
        text-align: end;
    }

    .welcome-text {
        margin-right: 10vw;
    }

    .welcome-container::before {
        background-color: transparent;
    }
}
